/* Barra de navegacion con logo */
.header {
  font-family: "Montserrat", sans-serif;
  background-color: #f2a649;
}

.header img {
  width: 120px;
}

.header img:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: rotate(1turn);
  transform: rotate(1turn);
}

/* titulo */
.container__title {

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  color: #733B2F;
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

/* Contenedores */
.container__titulosPrincipales {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #f2a649;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.container__iconos {
  padding-bottom: 1rem;
}

.container__iconos a,
.footer__iconos a {
  margin: 0.7rem;
}

.container__iconos a img,
.footer__iconos a img {
  width: 3rem;
}


/* Contacto */
@media all and (min-width: 992px) {
  .container__title h1 {
    font-size: 2.5rem;
  }

  .container__iconos {
    display: none;
  }

  .cuadroPrincipal p,
  ul {
    font-size: 18px;
  }
}

/*Barra de navegacion de abajo*/
.footer {
  background-color: #f2a649;
  color: #733B2F;
  width: 100%;
}

.footer .footer__title {
  color: #733B2F;
}

.footer .footer__title:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  color: 733B2F;
}

.footer .footer__iconos {
  display: none;
}

.footer .footer__iconos a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.footer ul {
  display: none;
}
/* Contacto */
@media all and (min-width: 992px) {
  .footer .footer__iconos {
    display: flex;
  }

  .footer img {
    width: 50px;
  }

  .footer ul {
    display: flex;
  }
}

/*boton de buscar*/
.btn {
  font-family: "Montserrat", sans-serif;
  color: #fafafa;
  background-color: #733B2F;
  outline: none;
  border-style: none;
}

.btn:hover {
  background-color: orange;
  border-color: #733B2F;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem #ff808050;
  box-shadow: 0 0 0 0.2rem #ff808050;
}

.btn:focus {
  border-color: #ff8080;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem #ff808050;
  box-shadow: 0 0 0 0.2rem #ff808050;
}
/* Recuadro de la imagen */
.cuadroPrincipal {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 30vw;
  min-height: 30vh;
  margin: 20px 10px;
  padding: 1.5rem;
  font-family: "Montserrat", sans-serif;
  background-color: white;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.1);
}

/* Datos de la mascota */
.listaDatos {
  text-align: left;
  color: #000;
  display: flex;
}

.listaDatos__cuadro {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.listaDatos__cuadro li {
  margin: 5px;
}

.listaDatos__cuadro .listaDatos__variables {
  width: 50%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.listaDatos__cuadro .listaDatos__variables ul {
  padding: 0;
  list-style: none;
}

.listaDatos__cuadro .listaDatos__variables ul li:before {
  /*asterisco*/
  background-color: #733B2F;
  border-radius: 50%;
  content: "";
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 2px;
  height: 0.6em;
  width: 0.6em;
}

