:root {
  --naranja-pastel: #f2ca80;
  --naranja: #f2a649;
  --marron-claro: #733b2f;
  --marron: #401e1b;
}

a{
  text-decoration: none;
}

@media all and (min-width: 992px) {
  .contenedor_titulo h1 {
    font-size: 2.5rem;
  }

  .contenedor_iconos {
    display: none;
  }


}

/* Contenedores */
.container {
  color: #fafafa;
  font-family: "Montserrat", sans-serif;
  padding-top: 70px;
}

.contenedor2 {
  color: #733B2F;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
}
/* Titulo */
.contenedor_titulo {

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #733B2F;
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

/* iconos de contacto */
.contenedor_iconos {
  padding-bottom: 1rem;
}

.contenedor_iconos a,
.footer_iconos a {
  margin: 0.7rem;
}

.contenedor_iconos a img,
.footer_iconos a img {
  width: 3rem;
}

/* contacto */
@media all and (min-width: 992px) {
  .contenedor_titulo h1 {
    font-size: 2.5rem;
  }

  .contenedor_iconos {
    display: none;
  }

  .cuadroPrincipal p,
  ul {
    font-size: 18px;
  }
}

/*Barra de navegacion de contacto*/
.footer {
  background-color: #f2a649;
  color: #fafafa;
  width: 100%;
}

.footer .footer_titulo {
  color: #fafafa;
}

.footer .footer_titulo:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  color: white;
}

.footer .footer_iconos {
  display: none;
}

.footer .footer_iconos a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.footer ul {
  display: none;
}
/* Contacto */
@media all and (min-width: 992px) {
  .footer .footer_iconos {
    display: flex;
  }

  .footer img {
    width: 50px;
  }

  .footer ul {

    display: flex;
  }
}

/*boton de saber mas*/
.btn {
  font-family: "Montserrat", sans-serif;
  color: #fafafa;
  background-color: #733B2F;
  outline: none;
  border-style: none;
}

.btn:hover {
  background-color: orange;
  border-color: #ff8080;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem #ff808050;
  box-shadow: 0 0 0 0.2rem #ff808050;
}

.btn:focus {
  border-color: #ff8080;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem #ff808050;
  box-shadow: 0 0 0 0.2rem #ff808050;
}



/*imagen de las 3 paginas*/
.imagen1 {
  background-image: url("../assets/img/michi3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.imagen2 {
  background-image: url("../assets/img/perro7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media all and (min-width: 992px) {
  .jumbotron h3 {
    font-size: 2rem;
  }

  .jumbotron p {
    font-size: 1.2rem;
  }

     /* Estilos para las tarjetas (cards) y el carrusel */
      #desktopInfo {

        display: flex;
      }

      .card-title {
        color: var(--naranja-pastel);
        padding: 0.5rem;
      }

      .card-text {
        font-size: 0.9rem;
        padding: 0.5rem;
      }

      .carousel-indicators {
        margin-bottom: 10px;
      }

      .carousel-caption {
        padding-bottom: 20px;
      }

      .carousel-caption h2 {
        font-size: 3rem;
      }

      .carousel-caption h5 {
        font-size: 1.5rem;
      }

      .carousel-caption p {
        font-size: 1rem;
      }
}