/* Barra navegacion y icono de arriba */
.header {
  font-family: "Montserrat", sans-serif;
  background-color: #f2a649;
}

.header img {
  width: 120px;
}

.header img:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: rotate(1turn);
  transform: rotate(1turn);
}


/* ve nuestras redes sociales */
body {
  background-color: #fafafa;
  color: #565652;
  font-family: "Montserrat", sans-serif;
}

.container {
  color: #565652;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
}
/* Titulo publicar */
.container__title {

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  color: #733B2F;
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
/* Titulo publica tu mascota */
.container__titulosPrincipales {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #733B2F;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
/* Contenedor de los iconos */
.container__iconos {
  padding-bottom: 1rem;
}

.container__iconos a,
.footer__iconos a {
  margin: 0.7rem;
}

.container__iconos a img,
.footer__iconos a img {
  width: 3rem;
}

/* Estilos para la sección de contacto y cuadro principal */
@media all and (min-width: 992px) {
  .container__title h1 {
    font-size: 2.5rem;
  }

  .container__iconos {
    display: none;
  }

  .cuadroPrincipal p,
  ul {
    font-size: 18px;
  }
}

/*pie de pagina*/
  .footer {
    background-color: #f2a649;
    color: #fafafa;
    width: 100%;
  }

  .footer .footer__title {
    color: #fafafa;
  }

  .footer .footer__title:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    color: white;
  }

  .footer .footer__iconos {
    display: none;
  }

  .footer .footer__iconos a:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }

  .footer ul {
    display: none;
  }
  /* Contacto */
  @media all and (min-width: 992px) {
    .footer .footer__iconos {
      display: flex;
    }

    .footer img {
      width: 50px;
    }

    .footer ul {
      display: flex;
    }
  }

  /*boton de publicar xd*/
  .btn {
    font-family: "Montserrat", sans-serif;
    color: #fafafa;
    background-color: #733B2F;
    outline: none;
    border-style: none;
  }

  .btn:hover {
    background-color: orange;
    border-color: #733B2F;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem #ff808050;
    box-shadow: 0 0 0 0.2rem #ff808050;
  }

  .btn:focus {
    border-color: #733B2F;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem #ff808050;
    box-shadow: 0 0 0 0.2rem #ff808050;
  }



/* cuadro detras de la imagen del texto */
.cuadroInforme {

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 50vh;
  padding: 1.5rem 1rem;
  font-family: "Montserrat", sans-serif;
  background-color: white;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.1);
}



/* Fotos al lado del icono de selecionar imagen */
.imagenPrincipal {
  max-width: 100%;
  margin: 10px 0;
}

.formFotosSecu {

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.formFotosSecu .addImage {
  background-color: white;
  border: gray solid 1px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  margin: 0 5px;
}

.formFotosSecu .otherImages {
  height: 65px;
  width: 65px;
  margin: 0 5px;
  background-image: url("../media/adopciones/perro2.jpg");
  background-size: cover;
  border: gray solid 1px;
  border-radius: 3px;
}

.formFotosSecu .otherImages:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* centrar texto de especie y genero */
.datosPrincipales {
  margin: 0 auto;
  padding-top: 2rem;
  min-width: 90%;
}

.datosPrincipales .formSection,
.datosPrincipales .formSection--radioBox,
.datosPrincipales .formSection--btn {
  margin: 25px 0;
}

.datosPrincipales .formSection--radioBox {

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.datosPrincipales .formSection--btn {

  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}